ASWM_GAME_PAK_PATH="/home/lobato/.local/share/Steam/steamapps/common/GUILTY GEAR STRIVE/RED/Content/Paks/pakchunk0-WindowsNoEditor.pak"
ASWM_INSTALL_DIR="/home/lobato/.local/share/Steam/steamapps/common/GUILTY GEAR STRIVE/RED/Content/Paks/~mods"
